ul {
  list-style: none;
  display: inline-grid;
  background-color: lightblue;
  padding: 20px;
  margin-left: 20px;
}

#exit {
  width: 10%;
  background-color: white;
  border: none;
  color: red;
  font-size: 12px;
}

#exit:hover {
  background: lightgrey;
}
